# Dataset（太大，存在 Colab）
dataset/

# Kaggle 競賽資料夾
nycu-2026-spring-dl-lab2-unet/
binary-semantic-segmentation-res-net-34-u-net/

# 訓練好的模型權重
saved_models/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
*.ipynb

# 系統檔
.DS_Store
Thumbs.db

# 環境
.env
venv/
